{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>{% block title %} Fatal Website {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=0.8">
		<meta name="description" content="Здравствуйте, данный блог используется для
		различных заметок автора/мыслей и тестов. Добро пожаловать.">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/application.css' %}">
	</head>

	<body>
		<header class="main_header">
			<h1 class="main_title"><a href="/" class="link_to_main">Fatal</a></h1>
		</header>

		{% if user.is_authenticated %}
			<header class="auth_header">
				<a href="{% url 'blog:new' %}">New</a>
				<a href="{% url 'blog:logout' %}">Logout</a>
			</header>
		{% endif %}

		<div class="container">
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
