{% extends 'blog/application.html' %}

{% block content %}
	{% for post in posts %}
		<div class="post_content">
			<header>
				<h1>
					<a href="{% url 'blog:show' pk=post.pk %}">{{ post.title }}</a>
				</h1>
			</header>

			<div class="post_body">
				{{ post.body|safe|truncatechars_html:240 }}
			</div>

			<div class="post_desc">
				<ul>
					<li>
						Author: <a class="post_author" target="_blank"
						href="https://github.com/">{{ user.get_username }}</a>
					</li>

					<li>
						{{ post.created_at|date:'d M | Y' }}
					</li>

					<li>
						<a class="post_link" href="{% url 'blog:show' pk=post.pk %}"
						title="Continue reading">Continue</a>
					</li>
				</ul>
			</div>
		</div>
	{% endfor %}

	<div class="pagination">
		{% if posts.has_previous %}
			<a href="?page=1" class="pagination_arrows"><<</a>
			<a href="?page={{posts.previous_page_number}}" class="pagination_arrows"><</a>
		{% endif %}

		{% if posts.number|add:'-2' > 1 %}
			<span>&hellip;</span>
		{% endif %}

		{% for num in posts.paginator.page_range %}
			{% if posts.number == num %}
				<strong><a href="?page={{num}}" class="pagination_numbers"
					title="You here">{{num}}</a></strong>
			{% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
				<a href="?page={{num}}" class="pagination_numbers">{{num}}</a>
			{% endif %}
		{% endfor %}

		{% if posts.paginator.num_pages > posts.number|add:'2' %}
			<span>&hellip;</span>
		{% endif %}

		{% if posts.has_next %}
			<a href="?page={{posts.next_page_number}}" class="pagination_arrows">></a>
			<a href="?page={{posts.paginator.num_pages}}" class="pagination_arrows">>></a>
		{% endif %}
	</div>
{% endblock %}