{% extends 'blog/application.html' %}

{% block content %}
	{% for post in posts %}
		<div class="post_content">
			<header>
				<h1>
					<a class="post_title" href="{% url 'blog:show' pk=post.pk %}">{{ post.title }}</a>
				</h1>
			</header>

			<div class="post_body">
				{{ post.body|safe|truncatechars_html:800 }}
			</div>

			<div class="post_desc">
				<p>
					Author: <a class="post_author" target="_blank"
					href="https://github.com/karaname">Kirill Rekhov</a>
				</p>

				<p>
					{{ post.created_at|date:'d M | Y' }}
				</p>

				<p>
					<a class="post_link" href="{% url 'blog:show' pk=post.pk %}"
					title="Continue reading">Continue</a>
				</p>
			</div>

			<hr>
		</div>
	{% endfor %}

	<div class="pagination">
		<a href="?page=1" class="pagination_arrows">&lt;&lt;</a>

		{% if posts.number|add:'-2' > 1 %}
			<span>&hellip;</span>
		{% endif %}

		{% for num in posts.paginator.page_range %}
			{% if posts.number == num %}
				<strong><a href="?page={{num}}" class="pagination_numbers"
					title="You here">{{num}}</a></strong>
			{% elif num > posts.number|add:'-2' and num < posts.number|add:'2' %}
				<a href="?page={{num}}" class="pagination_numbers">{{num}}</a>
			{% endif %}
		{% endfor %}

		{% if posts.paginator.num_pages > posts.number|add:'2' %}
			<span>&hellip;</span>
		{% endif %}

		<a href="?page={{posts.paginator.num_pages}}" class="pagination_arrows">&gt;&gt;</a>
	</div>
{% endblock %}
