{% extends 'blog/application.html' %}
{% block title %} Fatal Website - {{ post.created_at|date:'d M | Y' }} {% endblock %}

{% block content %}
	<div class="post_content">
		<header>
			<h1 class="post_title">{{ post.title }}</h1>
		</header>

		<div>
			<div class="post_desc">
				<p>
					Author: <a class="post_author" target="_blank"
					href="https://github.com/karaname">Kirill Rekhov</a>
				</p>

				<p>
					{{ post.created_at|date:'d M | Y' }}
				</p>

				{% if user.is_authenticated %}
					<p><a class="post_link" href="{% url 'blog:update' post.id %}">Update</a></p>
					<p><a class="post_link" href="{% url 'blog:delete' post.id %}">Delete</a></p>
				{% endif %}

				<p>
					<a class="post_link" href="{{request.META.HTTP_REFERER}}">Back</a>
				</p>
			</div>

			<hr class="post_hr_id">
		</div>

		<div class="post_body_id">
			{{ post.body|safe }}
		</div>

		<footer>
			<hr class="post_footer_hr_id">

			<div>
				Fatal - 2019
			</div>
		</footer>
	</div>
{% endblock %}
