{% extends 'blog/application.html' %}
{% block title %} Fatal Website - {{ post.created_at|date:'d M | Y' }} {% endblock %}

{% block content %}
	<div class="post-content">
		<h1 class="post-title">{{ post.title }}</h1>

		<div>
			<div class="post-desc">
				<p>
					Author: <a class="post-author" target="_blank"
					href="https://github.com/karaname">Kirill Rekhov</a>
				</p>

				<p>
					{{ post.created_at|date:'d M | Y' }}
				</p>

				{% if user.is_authenticated %}
					<p><a class="post-link" href="{% url 'blog:update' post.id %}">Update</a></p>
					<p><a class="post-link" href="{% url 'blog:delete' post.id %}">Delete</a></p>
				{% endif %}

				<p>
					<a class="post-link" href="{{ request.META.HTTP_REFERER }}">Back</a>
				</p>
			</div>

			<hr class="post-hr-id">
		</div>

		<div class="post-body-id">
			{{ post.body|safe }}
		</div>

		<footer>
			<hr class="post-footer-hr-id">

			<div>
				Fatal Website - 2019
			</div>
		</footer>
	</div>
{% endblock %}