{% extends 'blog/application.html' %}
{% block title %} Login {% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<h1>Done</h1>
	{% else %}
		<div class="form-container">
			<h1 class="form-title">Login</h1>

			{% if form.errors %}
				<div class="error-message">
					<strong><small>Something was wrong</small></strong>
				</div>
			{% endif %}

			<form action="{% url 'blog:login' %}" method="POST">
				{% csrf_token %}
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<button>Login</button>
			</form>
		</div>
	{% endif %}
{% endblock %}